.profile__profession {
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-column: 1 / span 3;
}

@media screen and (max-width: 730px) {
    .profile__profession {
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .profile__profession {
        font-size: 14px;
        line-height: 16.94px;
    }
}