.page {
    background-color: #000000;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 45px 0 60px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}