.popup__container {
    background-color: #fff;
    border-radius: 10px;
    width: 430px;
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 568px) {
    .popup__container {
        width: 282px;
        padding-left: 22px;
        padding-right: 22px;
    }
}