@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/content.css);
@import url(./blocks/content/__section/content__section.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__main-information/profile__main-information.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__delete-icon/card__delete-icon.css);
@import url(blocks/card/__delete-icon/_hidden/card__delete-icon_unactive.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__caption/card__caption.css);
@import url(./blocks/card/__place-title/card__place-title.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like-icon/card__like-icon.css);
@import url(./blocks/card/__like-icon/_active/card__like-icon_active.css);
@import url(./blocks/card/__like-amount/card__like-amount.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_type/popup__container_type_image.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__text/form__text.css);
@import url(./blocks/form/__text/_type/form__text_type_name.css);
@import url(./blocks/form/__text/_type/form__text_type_about.css);
@import url(./blocks/form/__text/_type/form__text_type_error.css);
@import url(./blocks/form/__submit-btn/form__submit-btn.css);
@import url(./blocks/form/__submit-btn/_disabled/form__submit-btn_disabled.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);

@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image-item/popup__image-item.css);
@import url(./blocks/popup/__title/_type/popup__title_type_image-caption.css);
@import url(./blocks/popup/__title/_type/popup__title_type_delete-window.css);